

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  
}

:root{
    
  --corfundo: #fcf6e8;
  --fundoelementos: #f4e2b4;
  --laranjaenferrujado: #c85b34;
  --fundoDivs: #cb9375;
  --navbar: #fdfaf3;
  --textos: #40454b;
  --hoverBotao: #ff911b;
}

::-webkit-scrollbar{

  width: 11px;
  transition: 1s;
}


::-webkit-scrollbar-thumb{

  border-radius: 2px;
  
  background-color: #d6a47a;
  cursor: pointer;
  transition: 1s;
  animation: pulse 2s infinite ease-in-out;
}



::selection{
  color: rgb(255, 255, 255);
  background-color: #e08e65;
}


@font-face {
  font-family: "fonte-projeto";
  src: url(./font/Amatic_SC/AmaticSC-Bold.ttf);
}

@font-face {
  font-family: "fonte-projeto-extra";
  src: url(./font/KleeOne-Regular.ttf);
}

@font-face {
  font-family: 'mais-legivel';
  src: url(./font/Afacad/static/Afacad-Medium.ttf);
}