.usuarioConfigs-container {
    display: flex;
    height: 100vh;
    background-color: var(--corfundo);
}

.usuarioConfigs-div-esquerda {
    height: 100%;
    width: 5%;
    background-color: var(--corfundo);
}

.usuarioConfigs-body {
    height: 100%;
    width: 87%;
    background-color: var(--corfundo);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usuarioConfigs-body-cima {
    height: 5%;
    width: 100%;
    background-color: var(--corfundo);
}

.usuarioConfigs-body-meio {
    height: 90%;
    width: 99%;
    background-color: var(--fundoDivs);
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.usuarioConfigs-body-meio-papel {
    background-color: var(--navbar);
    height: 95%;
    width: 95%;
    border-radius: 10px;
    display: flex;
}

.usuarioConfigs-body-meio-papel-conta {
    height: 100%;
    /* background-color: red; */
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FCF6E8;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 1%;
}

.usuarioConfigs-bmpc-titulo {
    background-color: var(--corfundo);
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: initial;
    border-top-left-radius: 10px;
    margin-right: 1px;
    padding-left: 25px;
}

.lbl-titulos {
    font-family: "fonte-projeto";
    font-size: 34px;
    color: var(--textos);
}

.lbl-nome-usuario {
    font-family: "fonte-projeto";
    font-size: 38px;
}

.usuarioConfigs-bmpc-infos {
    background-color: var(--corfundo);
    width: 100%;
    height: 60%;
    display: flow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-right: 1px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;

}

.lbl-infos {
    font-family: "fonte-projeto";
    font-size: 30px;
    border: none;
    padding: 10px;
}

.input {
    height: 30px; 
    width: 91%;
    padding: 7px;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--textos);
    border-style: solid;
    font-family: "fonte-projeto";
    font-size: 26px;
    background-color: #fffdec;
    border: thin;
    margin: 1%;
}

.usuarioConfigs-bmpc-buttons {
    width: 100%;
    height: 7.1%;
    background-color: var(--corfundo);  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    margin-right: 1px;
    padding-left: 50px;
    background-color: #f4e2b4;
    margin-left: 25px;
}

.btn {
    width: 35%;
    height: 70%;
    font-family: "fonte-projeto";
    font-size: 30px;
    transition: 0.2s;
    border: none;
    background-color: var(--fundoDivs);
    margin: 0px;
    border-radius: 5px;
    margin-bottom: 35px;
}

.btn:hover {
    font-family: "fonte-projeto";
    transition: 0.2s;
    cursor: pointer;
}

.usuarioConfigs-body-meio-papel-resenhas {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.usuarioConfigs-bmpr-titulo {
    background-color: var(--corfundo);
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 10px;
}

.usuarioConfigs-bmpr-body {
    background-color: var(--corfundo);
    width: 100%;
    height: 93.1%;
    border-bottom-right-radius: 10px;
    overflow: auto;
    display: flex;
}

.usuarioConfigs-body-baixo {
    height: 5%;
    width: 100%;
    background-color: var(--corfundo);   
}

.usuarioConfigs-navbar-container {
    height: 100%;
    width: 8%;
    background-color: var(--navbar)
}

.btn-secao {
    background-color: var(--laranjaenferrujado);
    border: none;
    padding: 1px 2px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 0;
    font-family: "fonte-projeto";
    font-size: 34px;
    width: 35%;
    height: 75%;
    cursor: pointer;
}

.btn-editar {
    position: relative;
    /* top: 50%; */
    right: 26px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    bottom: -7px;
}

.usuarioNomeDescricao h2 {
    font-size: 1.8rem;
    color: #c6552e;
    font-family: "fonte-projeto";
    padding-left: 10px;
}

.btns-change {
    background-color: #f4e2b4;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 0;
    font-family: "fonte-projeto";
    font-size: 30px;
    width: 262px;
    justify-items: center;
}

.listas-btn {
    justify-content: center;
    background-color: #f4e2b4;
    width: 94%;
    padding: 10px;
    align-items: center;
    display: flex;
    gap: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: flex-end;
}

.nivel-box {
    background-color: #f4e2b4;
    width: 315px;
    padding: 10px;
    justify-items: center;
    border-radius: 10px;
    margin-top: 20px;
    font-family: "fonte-projeto";
    font-size: 30px;
}

.nivel-box p {
    font-family: "fonte-projeto";
    font-size: 30px;
}

.nivel-box h2 {
    font-family: "fonte-projeto";
    font-size: 40px;
}

.campos {
    width: 100%;
    padding: 10px;
    justify-items: column;
    border-radius: 10px;
    margin-top: 20px;
    font-family: "fonte-projeto";
    font-size: 30px;
    /* background-color: #f4e2b4; */
}

.campos p {
    font-family: "fonte-projeto";
    font-size: 30px;
}

.campos h2 {
    font-family: "fonte-projeto";
    font-size: 40px;
}

.teste {
    width: 50%;
    height: 150px;
    background-color: #f4e2b4;
    float: left;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.teste2 {
    width: 50%;
    height: 150px;
    background-color: #f4e2b4;
    float: right;
    font-family: "fonte-projeto";
    justify-items: center;
    padding-top: 4%;
    font-size: 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.deslogar-deletar {
    justify-content: center;
    background-color: #f4e2b4;
    width: 94%;
    padding: 10px;
    align-items: center;
    display: flex;
    gap: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 25px;
    align-items: stretch;
}
.descricao{
    font-family: "fonte-projeto";
    font-size: 160%;
    border: none;
    padding: 10px;
    background-color: #f4e2b4;
    width: 109%;
    border-radius: 10px;
    resize: none;
}
.campo-descricao{
    height: 10%;
    width: 206%;
    padding: 7px;
    border-radius: 10px;
    border-width: 2px;
    font-family: "fonte-projeto"
}
.nivel-titulo {
    font-family: "fonte-projeto";
    font-size: 30px;
    background-color: #FCF6E8;
    width: 70%;
    height: 30%;
    text-align-last: center;
    border-radius: 20px;
    color: #C85B34;
}
.nivel-numero{
    margin-bottom: 3%;
    width: 20%;
    height: 30%;
    background-color: #d45c35;
    color: white;
    text-align-last: center;
    align-content: space-evenly;
    margin-top: 5%;
    border-radius: 5px;
    font-size: xx-large;
}
.img-usuario{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}