

.btnEstrelas{

    display: flex;
    height: 100%;
    flex-direction: row;
    width: 100%;
    border-radius: 3px;
}


.generoIsbn-desfecho-btn{

    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 30px;
    font-family: "fonte-projeto";


}


.btn-desfecho-img{

    margin-top: 4%;
    cursor: pointer;
    height: 100%;
    width: 80%;
    transition: 1s;

}
