.container__listas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #F4E2B4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.listas__header{
    height: 10%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
}
    .botao__header{
        position: relative;
        display: inline-block;
    }
    .botao__criar--listas{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        background-color: var(--corfundo);
    }
        .img__criar--listas{
            height: 50px;
            width: 50px;
        }

        .texto__botao--header{
            font-size: 20px;
            font-weight: bolder;
            width: 150px;
            visibility: hidden;
            background-color: #c85b34;
            color: #40454b;
            text-align: center;
            padding: 5px 10px;
            border-radius: 6px;
            font-family: fonte-projeto;
            position: absolute;
            z-index: 1;
            bottom: 22%; /* Posição acima do botão */
            left: -140%;
            transform: translateX(-50%);
            opacity: 0;
            transition: opacity 3s;
        }
            .botao__header:hover .texto__botao--header{
                visibility: visible;
                opacity: 2;
                font-family: fonte-projeto;
            }

.listas__body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    background-color: transparent;
}
    .listas__body--card__listas{
        display: flex;
        justify-content: start;
        align-items: start;
        height: 98%;
        width: 98%;
        background-color: #FCF6E8;
        border-radius: 20px;
        padding: 12px;
        font-family: fonte-projeto;
    }
        .card__listas{
            display: flex;
            justify-content: start;
            height: auto;
            background-color: transparent;
            border-radius: 20px;
            gap: 40px;
            flex-wrap: wrap;
            color: #40454b;
            padding: 15px;
        }
    
    .dialog_lista-livros{
        height: 500px;
        background-color: transparent;
        border: none;
        border-radius: 20px;
        width: 40%;
        position: fixed;
        top: 60%;
        left: 51%;
        transform: translate(-10%, -50%);
    }
        .form__listas{
            height: 70%;
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-left: 15px;
            padding-right: 8px;
            margin-left: 100px;
            gap: 15px;
            border: none;
            border-radius: 20px;
            background-color: #F4E2B4;
            font-family: fonte-projeto;
        }

            .form__nome--lista{
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                height: 20%;
                width: 100%;
                gap: 5px;
                margin-top: 20px;
            }
                .nome__lista{
                    font-size: 18px;
                    font-weight: bold;
                    color: #40454b;
                }
                .form__inputs{
                    height: 40px;
                    width: 90%;
                    padding-left: 5px;
                    background-color: var(--corfundo);
                    font-family: fonte-projeto;
                }

            .form__descricao--lista{
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                height: 60%;
                width: 100%;
                gap: 5px;
            }
                .form__campo--descricao{
                    height: 150px;
                    width: 90%;
                    padding-left: 5px;
                    padding-top: 5px;
                    background-color: var(--corfundo);
                    font-family: fonte-projeto;
                }

            .form__botao--salvar{
                display: flex;
                justify-content: center;
                align-items: end;
                flex-direction: column;
                height: 20%;
                width: 100%;
                padding-right: 50px;
            }
                .salvar__listas{
                    height: 30px;
                    width: 150px;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    font-size: 18px;
                    background-color: var(--corfundo);
                    font-family: fonte-projeto;
                }
                    .salvar__listas:hover{
                        background-color: #c85b34;
                        color: #40454b;
                        font-size: 22px;
                        font-weight: bolder;
                        font-family: fonte-projeto;
                    }
            