.container__lista--livros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95%;
    width: 95%;
    background-color: #F4E2B4;
    border-radius: 20px;
}

    .lista__header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 20%;
        width: 100%;
        gap: 10px;
    }
        .lista__name{
            display: flex;
            height: 30%;
            width: 100%;
        }
            .nome__lista--editar{
                display: flex;
                justify-content: start;
                align-items: center;
                /* padding: 20px; */
                height: 100%;
                width: 70%;
                gap: 10px;
                background-color: transparent;
            }
                .dados-lista{
                    height: 40px;
                    width: 300px;
                    font-size: 35px;
                    font-weight: bolder;
                    font-family: "fonte-projeto";
                    border: none;
                    background-color: #FCF6E8;
                    padding-left: 10px;
                    border-radius: 15px;
                }
                .dados-lista-descricao{
                    min-height: 50px;
                    min-width: 450px;
                    max-height: 80px;
                    max-width: 470px;
                    font-size: 25px;
                    font-weight: bold;
                    font-family: "fonte-projeto";
                    border: none;
                    background-color: #FCF6E8;
                    padding-left: 10px;
                    border-radius: 15px;
                }
                .botao-editar-dados-lista{
                    border: none;
                    cursor: pointer;
                    height: 20px;
                    width: 20px;
                }
                    .img-botao-editar-dados{
                        height: inherit;
                        width: inherit;
                    }

            .editar__lista{
                display: flex;
                justify-content: end;
                align-items: center;
                /* padding: 20px; */
                height: 100%;
                width: 30%;
                background-color: transparent;
            }
                .botao__editar--lista{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    height: 50px;
                    width: 50px;
                }
                .img__editar--lista{
                    height: 98%;
                    width: 98%;
                }

        .lista__description{
            display: flex;
            justify-content: start;
            align-items: start;
            /* padding: 20px; */
            height: 70%;
            width: 100%;
            gap: 10px;
        } 
        
        .botoes-edicao {
            display: flex;
            gap: 5px;
          }
          
          .botao-salvar-dados-lista,
          .botao-cancelar-dados-lista {
            padding: 5px 8px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
          }
          
          .botao-salvar-dados-lista {
            background-color: #4CAF50;
            color: white;
          }
          
          .botao-cancelar-dados-lista {
            background-color: #f44336;
            color: white;
          }

    .lista__body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
        background-color: transparent;      
    }
        .lista__body--books{
            display: flex;
            justify-content: start;
            align-items: start;
            flex-wrap: wrap;
            gap: 20px;
            padding: 15px 15px;
            height: 98%;
            width: 99%;
            background-color: #FCF6E8;
            border-radius: 20px;
            overflow-y: auto;
        }
            .botao__add--livro{
                height: 200px;
                width: 140px;
                background-color: #F4E2B4;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            .img__adicionar{
                height: 70px;
                width: 70px;
            }

    .dialog_add-listas{
        height: 500px;
        background-color: transparent;
        border: none;
        border-radius: 20px;
        width: 35%;
        position: fixed;
        top: 60%;
        left: 53%;
        transform: translate(-10%, -50%);
    }
        .container__livros{
            height: 95%;
            width: 95%;
            background-color: #F4E2B4;
            border-radius: 20px;
        }
            .fechar__caixa{
                display: flex;
                background-color: transparent;
                height: 10%;
                width: 100%;
            }
            
                .pesquisar__livro{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding-left: 10px;
                    height: 100%;
                    width: 50%;
                    background-color: transparent;
                }
                    .input__pesquisar--livro{
                        padding-left: 5px;
                        height: 30px;
                        width: 300px;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border: none;
                        background-color: #FCF6E8;
                        font-size: 15px; 
                        font-family: "fonte-projeto";
                    }
                    .btn__pesquisa--livro{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 30px;
                        width: 30px;
                        border: none;
                        background-color: #FCF6E8;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        cursor: pointer;
                    }
                        .img__pesquisar{
                            height: 25px;
                            width: 25px;
                        }
                        .btn__pesquisa--livro:hover{
                            background-color: var(--fundoDivs);
                        }
                
                .botao__fechar{
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    padding-right: 10px;
                    height: 100%;
                    width: 50%;
                    background-color: transparent;
                }
                    .btn__fechar--caixa{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        height: 30px;
                        width: 30px;
                        border: solid 1px var(--laranjaenferrujado);
                        /* border: none; */
                        border-radius: 5px;
                    }

            .lista__livros{
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: auto;
                flex-wrap: wrap;
                gap: 30px;
                height: 90%;
                width: 100%;
                padding: 10px;
            }

        .container__confirmacao{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 180px;
            width: 350px;
            background-color: var(--corfundo);
            border-radius: 20px;
            position: relative;
            top: -20%;
            left: 30%;
        }
                .confirmacao__fechar{
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    padding-right: 10px;
                    height: 15%;
                    width: 100%;
                    background-color: transparent;
                }
                    .fechar__confirmacao{
                        border: solid 0.5px var(--fundoelementos);
                        cursor: pointer;
                        border-radius: 5px;
                    }
                .confirmacao__textos{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    font-weight: bold;
                    color: var(--textos);
                    height: 60%;
                    width: 100%;
                    background-color: transparent;
                    padding: 10px;
                }
                .confirmacao__botoes{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    height: 25%;
                    width: 100%;
                    background-color: transparent;
                }
                    .botoes__confirmacao{
                        height: 25px;
                        width: 100px;
                        border-radius: 15px;
                        background-color: var(--fundoelementos);
                        color: var(--textos);
                        cursor: pointer;
                        font-size: 15px;
                        font-weight: bold;
                        border: none;
                    }
                        .botoes__confirmacao:hover{
                            height: 27px;
                            width: 120px;
                            background-color: var(--fundoDivs);
                            color: var(--textos);
                            font-size: 18px;
                            font-weight: bolder
                        }


    .dialog__edicao{
        height: 150px;
        background-color: transparent;
        border: none;
        border-radius: 20px;
        width: 15%;
        position: fixed;
        top: 19.5%;
        left: 71%;
        transform: translate(-10%, -50%);
    }
        .container__edicao{
            display: flex;
            justify-content: center;
            align-items: end;
            flex-direction: column;
            padding: 10px;
            gap: 10px;
            height: 99%;
            width: 99%;
            background-color: transparent;
            border-radius: 5px;
        }
            .botao__edicao--listas{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                font-weight: bolder;
                border: none;
                border-radius: 10px;
                height: 30px;
                width: 150px;
                background-color: var(--fundoDivs);
                color: var(--textos);
                cursor: pointer;
                font-family: "fonte-projeto";
            }
                .botao__edicao--listas:hover{
                    height: 35px;
                    width: 170px;
                    box-shadow: 0px 0px 2px 4px var(--laranjaenferrujado);
                    font-family: "fonte-projeto";
                }
