
.div-navbarVertical{

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
    width: 20%;
    background-color: transparent;
    margin-left: 67%;

}