.navbar-container{
    height: 100%;
    width: 6%;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding-right: 2.5%;

}

    .botao-navbar{

        height: 10%;
        width: 10%;
        border: 0;

    }

    .botao-navbar:hover{

        cursor: pointer;
        
    }

    .icons-navbar{

        font-size: 39px;
        color: var(--laranjaenferrujado);
    }

    .icons-navbar-jose{

        font-size: 38px;
        color: var(--laranjaenferrujado);
    }
